In [1]:
import warnings

warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import matplotlib as mlp

mlp.rcParams['lines.linewidth'] = 5

mlp.rcParams['xtick.major.size'] = 15
mlp.rcParams['xtick.major.width'] = 2
mlp.rcParams['xtick.labelsize'] = 15
mlp.rcParams['xtick.color'] = '#4DFC2D'

mlp.rcParams['ytick.major.size'] = 15
mlp.rcParams['ytick.major.width'] = 2
mlp.rcParams['ytick.labelsize'] = 15
mlp.rcParams['ytick.color'] = '#4DFC2D'

mlp.rcParams['axes.labelsize'] = 20
mlp.rcParams['axes.titlesize'] = 20
mlp.rcParams['axes.titlecolor'] = '#ED6919'
mlp.rcParams['axes.labelcolor'] = '#ED6919'

In [4]:
ratings = pd.read_csv('ratings.csv', sep=',').head(1000000)

ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [5]:
tags = pd.read_csv('tags.csv')

tags

        userId  movieId            tag   timestamp
0           18     4141    Mark Waters  1240597180
1           65      208      dark hero  1368150078
2           65      353      dark hero  1368150079
3           65      521  noir thriller  1368149983
4           65      592      dark hero  1368150078
...        ...      ...            ...         ...
465559  138446    55999        dragged  1358983772
465560  138446    55999  Jason Bateman  1358983778
465561  138446    55999         quirky  1358983778
465562  138446    55999            sad  1358983772
465563  138472      923  rise to power  1194037967

[465564 rows x 4 columns]